
<footer>
  <div class="container" id="bottombar">
    <div class="footer-inner">
      <div class="mpisws-logo">
        <a href="https://www.mpi-sws.org">
          <img src="/assets/images/mpi-sws-lamp.svg" alt="MPI-SWS Logo"
              title="MPI-SWS">
        </a>
      </div>
      <nav class="social" title="Social Navigation">
        <ul>
          <li><a href="https://github.com/simbricks" class="github" title="GitHub"></a></li>
          <li><a href="https://twitter.com/sim_bricks" class="twitter" title="Twitter"></a></li>
          <li><a href="https://join.slack.com/t/simbricks/shared_invite/zt-16y96155y-xspnVcm18EUkbUHDcSVonA" class="slack" title="Slack"></a></li>
        </ul>
      </nav>
      <div class="tumvl-logo">
        <a href="https://www.tum-venture-labs.de/">
          <img src="/assets/images/tum_vl_logo.png" alt="TUM Venture Labs Logo"
              title="TUM Venture Labs">
        </a>
      </div>
    </div>
    <div class="copyright">&copy; SimBricks, 2022&ndash;2024</div>
  </div>
</footer>
