
<footer>
  <div class="container" id="bottombar">
    <nav class="social" title="Social Navigation">
      <ul>
        <li><a href="https://github.com/simbricks" class="github" title="GitHub"></a></li>
        <li><a href="https://twitter.com/sim_bricks" class="twitter" title="Twitter"></a></li>
        <li><a href="https://join.slack.com/t/simbricks/shared_invite/zt-16y96155y-xspnVcm18EUkbUHDcSVonA" class="slack" title="Slack"></a></li>
      </ul>
    </nav>
    &copy; SimBricks, 2022&ndash;2024
  </div>
</footer>
