$width: 850px;
$max-page-width: 1200px;

section, header, footer {
  max-width: $max-page-width;
  margin: 0 auto;
}


/*header#mainheader:before {
  content: " ";
  display: block;
  height: 35px;
  width: 100%;
}*/

nav#navbar {
  margin: 0px;
  padding: 20px 5px;

  div.navcontainer {
    width: $width;
    margin: 0px auto;
    height: 3em;
    a.brand-logo {
      img#logo {
        vertical-align: top;
        height: 70%;
      }
    }
 
    button#navbutton {
      display: none;
    }

    ul.l1 {
      float: right;
      margin: 0;
      padding: 0;

      li {
        display: inline;
        padding: 0rem .5rem;
        line-height: 1.5;
      }

      li.github-stars {
        div.github-button {
          display: inline-flex;
          align-items: center;
          vertical-align: middle;
          height: 100%;
          span {
            line-height: 1.5;
          }
        }
      }
    }
  }
}


header.page-header {
  margin-bottom: 40px;
  div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
    min-height: 20rem;

    div.logo {
      float: left;
      max-width: 400px;
      text-align: center;
  
      img {
        width: 250px;
        max-width: 100%;
        max-height: 250px;
      }
    }

    div.text {
      width: 100%;
      min-height: 240px;
      margin-left: 0px;
      padding-top: 3em;
      padding-bottom: 2em;
      p {
        margin: 0;
      }
      h1 {
        margin: 0.5rem 0rem;
      }
      p.subtitle {
        text-align: right;
        padding-top: 2rem;
        padding-right: 0rem;
        padding-left: 4rem;
      }
    }
  }
  div.clear {
    clear: both;
  }
}

div.container {
  width: $width;
  margin: 0px auto;
  padding: 40px 0px;
}

div.banner {
  img {
    width: 100%;
  }
}

div.titlebar {
  div.container {
    padding: 8px 0px;
    h2 {
      margin: 0px;
    }
  }
}



footer {
  margin: 0rem auto;
  padding: 1rem 2rem;
  text-align: center;

  div.container {
    padding: 0rem;
    div.footer-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      div.mpisws-logo, nav, div.tumvl-logo {
        width: 13rem;
        img {
          margin: 1rem;
        }
      }
      nav {
        width: 17rem;
      }
      div.mpisws-logo {
        img {
          width: 5rem;
        }
      }
      div.tumvl-logo {
        img {
          width: 10rem;
        }
      }
    }
  }

  ul {
    padding: 0rem;
    margin: 1rem 0rem;
    li {
      display: inline;
      padding: 0rem 1rem;
    }
  }
}

/* changes for mobile layout */
@include media-mobile {
  nav#navbar {
    border-bottom: none;

    div.navcontainer {
      width: 100%;
      padding-left: 15px;

      button#navbutton {
        display: block;
        position: absolute;
        right: 15px;
        top: 40px;
        width: 40px;
        height: 40px;
      }
      ul.l1 {
        display: none;
        width: 100%;
        margin: 0;
        padding: 15px;

        li {
          width: 100%;
          text-align: right;
          display: block;
        }
      }
      ul.l1-active {
        display: block;
        position: absolute;
        left: 0px;
        top: 88px;
      }
    }
  }

  div.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  header.page-header {
    div.container {
      text-align: center;
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 0px;
      height: auto;

      div.text {
        p.subtitle {
          text-align: center;
          padding-left: 2rem;
          padding-right: 2rem;
        }
      }
    }
  }

  div.titlebar {
    div.container {
      padding: 8px;
    }
  }
}