<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <!-- html meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#ffffff">
    <meta name="author" content="SimBricks Team" />
    <meta charset="utf-8">

    {%- if page.no_page_title -%}
      {%- assign full_title = site.title %}
    {%- else -%}
      {%- capture full_title -%}{{ page.title }} - {{ site.title }}{%- endcapture -%}
    {%- endif -%}
    {%- if page.card_text -%}
      {%- assign card_text = page.card_text %}
    {%- else -%}
      {%- assign card_text = page.subtitle %}
    {%- endif -%}
    {%- assign card_text = card_text | newline_to_br | strip_newlines |
        replace: '<br />', ' ' | strip_html | strip -%}
    {%- if page.card_image -%}
      {%- assign card_image = page.card_image %}
    {%- else -%}
      {%- assign card_image = site.logo_png %}
    {%- endif -%}
    <meta name="title" content="{{ full_title }}"/>
    <meta name="description" content="{{ card_text}}" />

    <!-- facebook open graph tags -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ page.url | absolute_url }}" />
    <meta property="og:title" content="{{ full_title }}" />
    <meta property="og:description" content="{{ card_text }}" />
    <meta property="og:image" content="{{ card_image | absolute_url }}" />
 
    <!-- twitter card tags additive with the og: tags -->
    {%- if page.card_image -%}
    <meta name="twitter:card" content="summary_large_image">
    {%- else -%}
    <meta name="twitter:card" content="summary">
    {%- endif -%}
    <meta name="twitter:domain" value="{{ site.domain }}" />
    <meta name="twitter:title" value="{{ full_title }}" />
    <meta name="twitter:description" value="{{ card_text }}" />
    <meta name="twitter:image" content="{{ card_image | absolute_url }}" />
    <meta name="twitter:url" value="{{ page.url | absolute_url }}" />

    <meta name="google-site-verification" content="h8XBiCUDWlwWCJb8NeznrVKI1CDTSnnQuH03ef6Z9Ys" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#8cb12f">

    <title>{{ full_title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <script src="{{ "/assets/js/jquery-3.7.0.min.js" | relative_url }}">
    </script>
    <script src="{{ "/assets/js/slick.min.js" | relative_url }}"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>
  <body
      {%- if layout.body_class %}
        class="{{ layout.body_class }}"
      {%- endif %}>
    {%- include header.html %}

    <main>
      <header class="page-header">
        <div class="container">
        {%- if page.logo -%}
        <div class="logo">
          <img src="/assets/images/{{ page.logo }}">
        </div>
        {%- endif -%}
        <div class="text">
          <h1>{{page.title}}</h1>
          {%- if page.subtitle -%}
          <p class="subtitle">{{page.subtitle}}</p>
          {%- endif -%}
          {%- if page.description -%}
          <p class="subtitle">{{page.description}}</p>
          {%- endif -%}
        </div>
        </div>
        <div class="clear"></div>
        {%- if page.banner -%}
        <div class="banner">
          <img src="/assets/images/{{ page.banner }}">
        </div>
        {%- endif -%}
      </header>
      {{ content }}
    </main>
    {%- include footer.html %}
  </body>
</html>